{% extends "includes/base.html" %} 
{% block title %} Все группы {% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div id="wrapper">
  <div id="main">
  <h3 style="font-size:20px;">Все авторы {% if user.is_authenticated %}| <a href="{% url 'profile' request.user.username %}">моя страница</a>{% endif %}</h3>

{% for author in author_list %}


<article class="post">

<div class="title">
{% load thumbnail %} {% thumbnail author.profile.image "960x960" crop="center" upscale=True as im %}
  <img style="border-radius: 100px; width: 4em; margin-right:20px;" align="left" 
  vspace="5" hspace="5" src="{{ im.url }}" /> {% endthumbnail %}
<h2><a href="{% url 'profile' author.username %}">{{ author.username }}</a></h2>

<h5 class="published">{{ author.get_full_name |linebreaksbr }}</h5><br>
    </div>

    
 
</article>
{% endfor%}
  {% if page.has_other_pages %}
    {% include "includes/paginator.html" with items=page paginator=paginator%}
  {% endif %} </div>

  </div></div>
{% endblock %}